.mb-10.mx-auto{class:"w-11/12"}
  .block.text-sm.font-medium.text-gray-700.p-3
    .flex.gap-2.justify-between
      .flex.gap-2.mb-2
        = render partial: "users/initials_bubble", locals: {user: comment.user}
        %div
          %div
            = comment.user.name
          .text-xs.text-fade
            = time_ago_in_words(comment.created_at)
      = render partial: "comments/likes", locals: {story: comment.story, comment: comment}

    %div
      = comment.body
  .mx-auto.border-b.mx-auto
