= turbo_stream.replace(dom_id(@comment.story, :comments), "<div id=#{dom_id(@comment.story, :comments)}>#{@comment.story.comments.size}</div>")
= turbo_stream.remove(dom_id(@comment, :comment))
= turbo_stream.replace("flash", partial: "shared/flash_message")
