= provide(:title, 'Search')
= form_with url: search_path, method: :get, class: "flex items-center max-w-md mx-auto" do |form|
  %label.sr-only Search
  .relative.w-full
    .absolute.inset-y-0.start-0.flex.items-center.select-none.cursor-default.pointer-events-auto
      %i.w-9.h-9.p-2{"data-feather" => "search"}
    = form.text_field :q,  {class: "p-2.5 border border-fade text-sm rounded-lg block w-full ps-10 focus-visible:outline-none", placeholder: "Search stories, tags, users...", autofocus: true}
    %button.absolute.inset-y-0.end-0.flex.items-center.pe-3{type: "button"}
      %svg.w-4.h-4.text-gray-400{fill: "none", stroke: "currentColor", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
        %path{d: "M6 18L18 6M6 6l12 12", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}

- if @search_term
  .mt-10.max-w-contentmax.mx-auto{"data-controller": "search"}
    .text-4xl.font-bold.flex.gap-2
      = "Results for"
      .text-secondary
        = @search_term
    .h-16.mt-4.text-fade
      .border-b.mb-6.flex
        #trigger-stories.p-2.search-hover{"data-action": "click->search#search_stories" }
          Stories
        #trigger-users.p-2.search-hover{"data-action": "click->search#search_users" }
          Users
        #trigger-tags.p-2.search-hover{"data-action": "click->search#search_tags" }
          Tags

  .max-w-contentmax.mx-auto.break-words
    %turbo-frame{ id: "stories"}
    %turbo-frame{ id: "users"}
    %turbo-frame{ id: "tags"}
  
