.w-full
  .text-3xl.font-black.text-secondary
    = @user.name
    .stats.flex.gap-8.text-sm.font-bold
      .flex.flex-col.text-center.p-2
        %div
          Stories
        %div
          = @stories.count
      .flex.flex-col.text-center.p-2
        %div
          Likes
        %div
          = @likes.count
      .flex.flex-col.text-center.p-2
        %div
          Comments
        %div
          = @comments.count
  .flex.text-2xl.font-extrabold.mt-8
    %div{class:"w-5/12"}
      Stories
      .font-normal.mt-4
        = render partial: "stories/list_view"
    %div{class:"w-2/12"}
    %div.p-2{class:"w-5/12"}
      .likes
        Likes
        - @likes.order(created_at: :desc).each do |like|
          - if like.record_type == "Story"
            - display = like.record.title
            - link = story_path(like.record)
          - else
            - display = like.record&.body
            - link = story_path(like.record.story, jump_to: like.record.id)
          = link_to link do
            .p-2.bg-behindfade.my-2.rounded-md
              .like.text-sm.flex.font-bold.items-center.gap-4
                = "#{@user.first_name} liked a #{like.record_type.downcase}"
                .font-medium.text-xxs
                  = " #{time_ago_in_words(like.created_at)} ago"
              .text-sm.text-fade.font-normal
                = display
        .text-sm.font-bold
          = will_paginate @likes, param_name: 'likes_page' 
          - if @likes.empty?
            No likes
      .comments
        Comments
        - @comments.order(created_at: :desc).each do |comment|
          = link_to story_path(comment.story, jump_to: comment.id) do 
            .like.font-medium.text-sm.p-2.bg-behindfade.rounded-md.my-2
              .flex.items-center.gap-4
                %div
                  = "#{@user.first_name} commented on a story <b>(#{comment.story.title})</b>".html_safe
                .font-medium.text-xxs
                  = " #{time_ago_in_words(comment.created_at)} ago"
              .text-sm.text-fade.font-normal
                = comment.body

        .text-sm.font-bold
          = will_paginate @comments, param_name: 'comments_page' 
          - if @comments.empty?
            No comments
