%nav.h-19.px-4.border-b.border-behindfade
  .max-w-pagemax.mx-auto.w-full.py-3.h-full.font-light
    .h-full.flex.items-center.justify-between
      -# logo
      = link_to root_path do
        .flex.items-end.gap-2
          .w-10.flex.items-center
            = image_tag 'logo.png'
          .font-semibold.text-md.text-primary
            Pe Caiet

      -# actions
      .flex.items-center.text-base.text-fade
        .mr-5.text-primary
          .rounded-full.overflow-hidden
            = link_to root_path do 
              %i.w-9.h-9.p-2.hover:bg-behindfade{"data-feather" => "search"}
        - if user_signed_in?
          .mr-5
            .rounded-full.overflow-hidden.text-secondary
              = link_to root_path do 
                %i.w-9.h-9.p-2.hover:bg-behindfade{"data-feather" => "bell"}
        - else
          .mr-2.sm:mr-5.hover:text-primary
            = link_to 'Join', new_user_registration_path
          .mr-5.hover:text-primary
            = link_to 'Sign In', new_user_session_path
        .hidden.md:block
          = link_to new_story_path do
            .bg-secondary.py-2-5.px-4-5.rounded.m-px.text-white.text-sm.hover:bg-primary
              Create Story
        - if user_signed_in?
          .static{ "data-controller": "account" }
            .sm:ml-5.select-none
              .bg-behindfade.rounded-full.w-9.h-9.items-center.justify-center.flex.text-sm.font-normal.cursor-pointer{"data-account-target": "button", "data-action": "click@window->account#close_dropdown keydown.esc->account#close_dropdown click->account#toggle_dropdown", "tabindex": "0"}
                - initials = current_user.name_initials
                %span
                  = initials
            .absolute.top-19.ml-m184.sm:ml-m200
              = render partial: "shared/navigation/user_dropdown"