- if @stories.present?
  - @stories.each do |story|
    - link = story.draft? ? edit_story_path(story) : story_path(story)
    = link_to link, data: { turbo: false } do
      .border-b.pb-4.mb-4
        .flex.items-center
          %div{class:"w-8/12"}
            .flex.gap-2.mb.text-xs.items-center.justify-between
              .flex.gap-2.mb.text-xs.items-center
                .bg-behindfade.rounded-full.w-7.h-7.items-center.justify-center.flex.text-sm.font-normal.cursor-pointer{"data-account-target": "button", "data-action": "click@window->account#close_dropdown keydown.esc->account#close_dropdown click->account#toggle_dropdown", "tabindex": "0"}
                  - initials = story.user.name_initials
                  %span
                    = initials
                %div
                  %div
                    = story.user.name
              - if story.draft?
                .font-bold.italic
                  Draft
            .text-3xl.font-bold.text-secondary.mb-1
              = story.title
            .text-sm.text-fade.line-clamp-3
              = story.content.body.to_plain_text
            .mt-2 
              .flex.gap-6.select-none.text-sm
                %div.flex.justify-center.items-center.gap-1
                  %i.w-5.h-5{"data-feather" => "heart", class: "#{story.liked_by?(@user) ? "filled-like" : "" } "}
                  = story.likes_count
                %div.flex.justify-center.items-center.gap-1
                  %i.w-5.h-5{"data-feather" => "message-circle"}
                  = story.comments.length
          %div
            - img = story.content.embeds.find{|embeds| embeds.image?}&.variant(resize_to_limit: [200, 200])
            - if img
              = image_tag img
  - if @stories.try(:total_pages)
    .text-sm.font-bold.mb-12
      = will_paginate @stories, param_name: 'stories_page' 

  :javascript
    feather.replace()
    document.querySelectorAll("pre").forEach((el) => {
      hljs.highlightElement(el);
    });
- else
  .font-bold.p-2
    = 'No stories found'