%turbo-frame{id: "preview"}
  .max-w-contentmax.mx-auto.break-words{ "data-controller": "story" }
    .flex
      %div
        - if story.tags
          .flex.flex-wrap
            = render story.tags
    .text-5xl.font-bold.text-secondary
      = story.title
    .border-y.p-3.flex.justify-between.my-6
      %div
        .font-medium.text-sm
          = story.display_date
      .flex.gap-6.select-none.text-sm
        %div.flex.justify-center.items-center.gap-1
          %i.w-5.h-5{"data-feather" => "heart", class: "#{story.liked_by?(current_user) ? "filled-like" : "" } "}
          = story.likes_count
        %div.flex.justify-center.items-center.gap-1
          %i.w-5.h-5{"data-feather" => "message-circle"}
          = story.comments.size
    .trix-content
      = story.content

  :javascript
    feather.replace()
    document.querySelectorAll("pre").forEach((el) => {
      hljs.highlightElement(el);
    });