- comments = @story.comments.includes(:user)
.max-w-contentmax.mx-auto.break-words
  .flex.items-center
    %div{class:"w-11/12"}
      - if story.tags
        .flex.flex-wrap
          = render story.tags
    - if can?(:manage, story)
      .cursor-pointer{"data-story-target": "button", "data-controller": "story", "data-action": "click->story#show_options"}
        %i.w-5.h-5{"data-feather" => "more-vertical"}
        = render partial: "dropdown", locals: {story: story}
  .text-5xl.font-bold.text-secondary
    = story.title
  .border-y.p-3.flex.justify-between.my-6.items-center
    %div
      .font-medium.text-sm
        = link_to user_path(story.user) do 
          .flex.items-center.gap-1
            = render partial: "users/initials_bubble", locals: {user: story.user}
            .text-xs
              = story.user.name
        = story.display_date
    .flex.gap-6.select-none.text-sm
      = render partial: "likes", locals: { story: @story }
      %div.flex.justify-center.items-center.gap-1
        %i.w-5.h-5{"data-feather" => "message-circle"}
        %div{ id: dom_id(story, :comments) }
          = comments.length
  .trix-content
    = story.content

  = render partial: "comments/form"
  %turbo-frame{id: "comments"}
  = render comments