!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    -# this may be wrong!
    %meta{content: "no-cache", name: "turbo-cache-control"}/ 
    %title
      - if yield(:title).present?
        #{yield(:title)} - Pe Caiet
      - else
        Pe Caiet
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    -# https://stackoverflow.com/questions/78042975/rails-with-hotwire-turbo-doing-get-requests-on-link-hover
    %meta{content: "false", name: "turbo-prefetch"}/
    %script{src: "https://unpkg.com/feather-icons"}
    = favicon_link_tag
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"}
    = javascript_importmap_tags
  %body
    = render partial: 'shared/navigation'
    = render 'shared/flash_message'
    %main.max-w-pagemax.mx-auto.pt-8
      = yield
    %script
      feather.replace()
